*{
  margin: .5rem 0;
  padding: 0;
  box-sizing: border-box
}
:root{
  scroll-behavior: smooth;
}
::selection{
  color: #fff;
  background: #ec592e;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 1.5rem;
  padding: 1rem 25rem;
}
.btn{
  display: flex;
}
.btns{
  border: solid 1px #1c1c1c;
  padding: 1rem 2.5rem;
  transition: all .4s ease-out;
  text-decoration: none;
  color: #1c1c1c;
  margin: 1rem;
}
.btns:hover{
  background-color: darkorange;
}
nav a{
  text-decoration: none;
  color: #1c1c1c;
  margin: 0 5px;
}
h1{
  font-size: 4rem;
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
}
h2{
  font-size: 2rem;
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
}
h3{
  font-size: 1.3rem;
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
  margin-bottom: 1rem
}
.tarjeta{
  padding: 1rem 5rem;
  border: 1px solid #3f0e00;
}
.tarjeta p{
  font-family: sans-serif;
  text-align: justify;
  font-size: 1rem;
  line-height: 1.5rem;
}
p{
  font-family: sans-serif;
  text-align: justify;
  font-size: 1rem;
  line-height: 1.8rem;
  font-weight: 100;
}


@media screen and (max-width: 768px) {
  body {
    padding: 1rem;
    gap: 1.5rem;
  }
  .btn{
  flex-direction: column;
  }
  h1{
    font-size: 2rem;
  }
  h2{
    font-size: 1.5rem;
  }
  p{
    font-size: 1rem;
  }
  .btns{
    padding: .7rem 1.4rem;
  }
  .tarjeta{
    padding: 1rem;
  }
}
