*{
  margin: 0;
  padding: 0;
  box-sizing: border-box
}
:root{
  scroll-behavior: smooth;
}
::selection{
  color: #fff;
  background: #ec592e;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 1.5rem;
  padding: 1rem 12rem;
}
img{
  width: 300px;
}
h2{
  font-size: 2rem;
  font-family: sans-serif;
}
h3{
  font-size: 3rem;
  font-family: sans-serif;
}
p{
  font-size: 1.2rem;
  font-family: sans-serif;
  font-weight: 100;
  line-height: 1.7rem;
  text-align: justify;
}
a{
  font-family: sans-serif;
  font-weight: 100;
  font-size: 1.5rem;
  padding: .5rem 2rem;
  background-color: rgb(204, 204, 204);
  border-radius: 2px;
  transition: all .2s ease-in;
  text-decoration: none;
  color: #1c1c1c;
}
a:hover{
  background-color: rgb(255, 160, 105);
}